nav
{
border:2px solid black;
height:150px;
display:flex;
justify-content: space-between;
align-items: center;
border-radius:20px;
border:none;
background-image: linear-gradient(rgba(22, 19, 19, 0.904),rgba(253, 253, 253, 0.822));


}
.child1
{
border:2px solid black;
height:150px;
width:25%;
justify-content: center;
align-items: center;
border:none;
display:flex;
}
.child2
{
border:2px solid black;
height:150px;
width:50%;
display:flex;
align-items: center;
justify-content: space-evenly;
border:none;

}
img{
    height:100px;
    width:200px;
    mix-blend-mode: multiply;
}
h1{
    font-size: xx-large;

}
h1:hover{
    color:white;
}